<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form  (submit)="onSignup(signupForm)"  #signupForm="ngForm" *ngIf="!isLoading">
    <!-- newly added -->
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        required
        email
        placeholder="E-Mail"
        #emailInput= "ngModel"
       >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="password"
        ngModel
        type="password"
        required
        placeholder="Password"
        #passwordInput="ngModel"
      >
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit">Signup</button>
  </form>
</mat-card>
