:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

mat-expansion-panel{
  background-color: #D3D3D3;
}

.subcode {
  text-align: right;
}
